*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(27deg,#1C6758 50%, #90B77D 50%);
}

.form-body{
    width: 400px;
    min-width: 300px;
    border: 10px solid #100F0F;
    border-radius: 10px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: 10px;
}

.form-body img{
    width: 100px;
    display: block;
    margin: 10px auto;
}

.form-body .text{
    text-align: center;
    font-size: 24px;
    font-weight: 600px;
    color: #064635;
    margin-bottom: 20px;
    
}

.form-body input[type="number"]{
    display: block;
    margin: auto;
    height: 40px;
    width: 57%;
    padding-left: 10px;
    color: black;
    border: 1px solid #FF9F29;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;

}

.form-body input[name="n2"]{
    margin-top: 20px;

}
:placeholder{
    font-size: 1rem;
    color: #1B2430(255,255,255,596);

}
.form-body input[type="number"]:hover{
    transition: .5s;
    border: 1px solid #FF9F29;
}
.form-body input[type="button"]{
    display: block;
    margin: auto;
    height: 40px;
    width: 70%;
    background: #FF9F29;
    color: #1B2430;
    border: 2px solid #FFDE00;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    cursor: pointer;
    outline: none;
    transition: a11 .5s aese;
}
.form-body input[type="button"]:hover{
    transition: .5s;
    border: 2px solid #064635;
    color:#7C3E66;
    background-color: linear-gradient (#7FB77E,#B1D7B4);
}
.js{
   color: aquamarine; 
   text-align: center;
}
